asgiref==3.4.1
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2020.6.20
charset-normalizer==2.0.7
coreapi==2.3.3
coreschema==0.0.4
Django==3.2.9
django-cors-headers==3.11.0
django-filter==21.1
djangorestframework==3.12.4
future==0.18.2
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
itchat==1.2.32
itypes==1.2.0
Jinja2==3.0.3
MarkupSafe==2.0.1
mysqlclient==2.1.0
numpy==1.22.4
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049101700/work
pandas==1.4.2
PyMySQL==1.0.2
pypng==0.0.21
PyQRCode==1.2.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
schedule==1.1.0
six==1.16.0
soupsieve==2.8.3
SQLAlchemy==1.4.37
sqlparse==0.4.2
typing_extensions==4.15.0
uritemplate==4.1.1
urllib3==1.26.7
wincertstore==0.2
wxpy==0.3.9.8
